@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Mitr:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: "Inter";
}

.lalezar {
  font-family: "Lalezar";
}

.mitr {
  font-family: "Mitr";
}

button {
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
}

.menuIcon {
  display: none;
}
.logo p {
  font-size: 12px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.logo img {
  width: 2.5rem;
}
nav ul {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 10px 0; */
  /* background-color: #000; */
  list-style: none;
  gap: 3rem;
  font-size: 20px;
}

nav ul li a:hover {
  color: #dd5d0d;
}

.mobileMenu {
  display: none;
}

li a {
  text-decoration: none;
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

.purple {
  color: #2a166d;
}

.bold {
  font-weight: 600;
}
.bolder {
  font-weight: 800;
}
.boldest {
  font-weight: 900;
}

.purpleBg {
  background-color: #2a166d;
  color: #fff;
}

.sectionMargin,
footer {
  padding: 3rem 7%;
}

.oneH2 {
  width: 40vw;
  font-size: 360%;
  text-align: center;
}

.one p {
  width: 40vw;
}
.oneImages {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 2rem;
  width: 100%;
  overflow-x: scroll;
}

.oneImages::-webkit-scrollbar {
  display: none;
}
.polaroid {
  /* background: #fff;
    padding: 0.5rem 0.5rem 1rem;
    transform: rotateX('30deg'); */
}
.polaroid img {
  width: 20rem;
}

/* second section */

.two {
  display: flex;
  gap: 3rem;
  /* flex-wrap: wrap; */
}

.two > div {
  width: 40vw;
}

.two img {
  width: 31rem;
  padding: 1rem 0;
}
.twoOne::before {
  width: 100%;
  height: 7px;
  margin-bottom: 4rem;
  border-radius: 15px;
  background-color: #2a166d;
  content: " ";
  display: block;
}

.talkButton {
  background-color: #dd5d0d;
  border-radius: 5px;
  padding: 0.7rem 2rem;
}

.two ul {
  list-style: none;
  line-height: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.two ul li {
  position: relative;
  /* padding-left: 50px; */
  /* transform: translateX(-15px); */
  font-weight: 500; /* Adjust as needed for your image size */
}

.two p {
  font-weight: 500;
  padding: 2rem 0;
  width: 80%;
}

.two ul li::before {
  content: "";
  /* position: absolute; */
  display: block;
  /* left: -55px; */

  /* top: 50%; */
  transform: translate(-150%, 130%);
  width: 17px; /* Adjust the width */
  height: 17px; /* Adjust the height */
  background-image: url("./Images/bulletPlane.svg");
  background-size: cover; /* Ensure the image scales correctly */
  background-repeat: no-repeat;
}

.h3Size {
  font-size: 200%;
  width: 80%;
}

.three {
  width: 50vw;
}

.three p::before {
  content: " ";
  display: block;
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background-color: #2a166d;
  translate: 110% 0;
}

.four > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.four button {
  margin: 1rem 0 0 3rem;
}

.feature {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.feature h4 {
  letter-spacing: 2px;
}

.featureSvg {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #fff;
  padding: 1rem;
  width: 3.5rem;
  border-radius: 40px;
}
.featureSvg img {
  width: 100%;
}

/*section five */

.five {
  /* padding: 1rem 0; */
  position: relative;
}

.five h3 {
  font-size: 40px;
  display: flex;
  /* justify-content: end; */
  position: absolute;
  right: 7%;
}
.five h3::before {
  content: " ";
  display: block;
  width: 50%;
  height: 7px;
  border-radius: 10px;
  background-color: #2a166d;
  translate: -10% 25px;
}

.five > div {
}

.grey {
  background-color: #f8f8f8;
  display: flex;
  gap: 2rem;
  margin: 5rem 0 0;
  padding: 5rem 6rem;
}

.navigateButtons {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 7%;
  padding: 0.5rem 0 0;
}

.navigateButtons button {
  background: transparent;
}

/* section six */

.six {
  background-image: url(./Images/sixBg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 60vw;
  height: 32rem;
  background-color: #ffffffea;
  padding: 5%;
}

.contactForm h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Lalezar";
}
form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

form div {
  width: 45%;
  height: max-content;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
form label {
  font-size: 14px;
  font-weight: 500;
  font-family: "Lalezar";
}

form input {
  height: 3rem;
  width: 100%;
  margin-bottom: 8%;
  outline: 0;
  padding: 0 1rem;
  border: 1px #bdbdbd solid;
  border-radius: 5px;
}

form button {
  background-color: #dd5d0d;
  width: 20rem;
  border-radius: 5px;
  height: 3rem;
  font-weight: 600;
}
textarea {
  padding: 1rem;
  outline: 0;
  border-radius: 5px;
  border: 1px #bdbdbd solid;
}

.TextArea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: column;
}
.footerOne {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

footer nav ul {
  flex-direction: column;
  color: #fff;
  gap: 1rem;
}

.contactIcons {
  display: none;
}

footer nav ul a {
  color: #fff;
  font-size: 14px;
}

.subFootTwo {
  border-top: #fff 1px solid;
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subFootTwo div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.subFootTwo div a {
  background: none;
  color: #fff;
  cursor: pointer;
}

.subFootTwo a:hover {
  color: #dd5d0d;
}

.footerOne > div > div {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 35px;
}

.footSocialsMobile {
  display: none;
}

#backToTop {
  display: flex; /* Hidden by default */
  position: fixed; /* Fixed position */
  bottom: 40px; /* Place the button at the bottom */
  right: 60px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #dd5d0d; /* Dark background color */
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  padding: 15px 16px;
  /* Some padding */
  border-radius: 40px; /* Rounded corners */
  align-items: center;
}

#backToTop:hover {
  background-color: #dd5d0da5; /* Darker background on hover */
}

/*  ABOUT.HTML */

.aboutTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  margin-top: -0.5rem;
}

.aboutTwo h1 {
  font-size: 175%;
  padding: 0;
  width: 100%;
}

.aboutTwo p {
  width: fit-content;
}

.aboutThree {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.aboutThree div {
  width: 40%;
}

.aboutThree h5 {
  font-size: 3rem;
}

.mission::before {
  width: 100%;
  height: 10px;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: #2a166d;
  content: " ";
  display: block;
}

.mission {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.aboutThree h6 {
}

.aboutFour {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40vw;
  margin: 1rem 7%;
}
.aboutFour h5 {
  width: auto;
  font-size: 3rem;
}

.aboutFour h5::before {
  content: " ";
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #2a166d;
  translate: 14rem 2.6rem;
}



  /* Destinations.html */

  .destTwo img{
    width: 100%;
  }







  /* Contact.html */
  .contactTwo{
    width: 100%;
    background-color: #2a166d;
    /* margin-top: 4.7rem; */
    position: relative;
  }
  
  .contactTwo img{
    width: 100%;
    padding-bottom: 1rem;
  }

  .contactTwo div{
    position: absolute;
    color: #fff;
    top: 15%;
    left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactTwo div h4{
    font-size: 5vw;
    font-family: "Lalezar";
  }
  .contactTwo div p{
    font-size: 1.3vw;
    margin-top: -1rem;
  }


  #subject{
    padding: 1rem;
    border-radius: 5px;
    border: 1px #bdbdbd solid;
  }
  option{
    cursor: pointer;
  }



  .contactFour {
    width: 100%;
    padding:  0 7%;
  }
  
  .map-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  

  .followUs div img{
    transition: all 0.3s ease-in-out;
  }
  
  .followUs div img:hover{
    transform: scale(1.2);
  }
  

@media screen and (max-width: 768px) {
  .menuIcon {
    display: block;
    cursor: pointer;
  }

  nav:nth-child(2) {
    display: none;
  }

  nav ul {
    flex-direction: column;
    color: #fff;
    gap: 2rem;
    justify-content: left;
    padding: 0rem 0 4rem;
    align-items: normal;
  }
  nav ul a {
    color: #fff;
    font-size: 1.2rem;
    font-family: 800;
    font-family: "Mitr";
  }

  header {
    transition: all 0.3s;
    background-color: white;
    /* width: 100vw; */
    position: sticky;

  }

  .mobileMenu {
    display: block;
    width: 100%;
    height: 90vh;
    /* font-size: 2.3rem; */
    padding: 7%;
    background-color: #dd5d0d;
    /* margin-bottom: 20vh; */
  }
  .mobileMenu > div > ul > li > a {
    display: flex;
    gap: 1rem;
    color: #fff;
    line-height: 20px;
  }
  .mobileMenu > div {
    /* margin-top: 2rem; */
  }
  .mobileMenu > div > ul {
    list-style-type: none;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline-start: 0;
    padding-top: 1rem;
  }

  .one p {
    width: 100%;
    font-weight: 500;
    word-spacing: 1.5px;
    letter-spacing: 0.06rem;
  }

  .one {
    margin-top: -90vh;
    transition: all 1s ease;
    align-items: start;
    background-color: #2a166d;
    height: fit-content;
  }

  .one h2 {
    width: 100%;
    text-align: center;
    font-size: 250%;
    margin-top: 5vh;
  }

  .mobileMenu div h5 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.8px;
  }
  /* .purpleB{
    background-color:#2a166d;
  } */

  .sectionMargin {
    padding: 2rem;
  }

  .two {
    /* margin-top: 50rem; */
    flex-wrap: wrap;
  }

  .two > div {
    width: 100%;
  }

  .twoTwo::before {
    width: 100%;
    height: 7px;
    margin-bottom: 4rem;
    border-radius: 15px;
    background-color: #2a166d;
    content: " ";
    display: block;
  }
  .twoOne::before {
    display: none;
  }
  .two p {
    width: 100%;
  }

  .h3Size {
    width: 100%;
  }
  .talkButton {
    width: 100%;
    margin: 2rem 0;
    padding: 0.7rem 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
  }

  .three {
    width: 100%;
  }
  .three p::before {
    display: none;
  }

  .four > div {
    justify-content: left;
  }
  .four button {
    margin-left: 0;
  }

  .feature {
    width: 100%;
    margin-bottom: 2rem;
  }
  .mitr {
    font-size: 18px;
  }

  .five {
    display: none;
  }
  .active {
    margin-top: 0;
  }

  form button {
    width: 100%;
    margin-top: 1rem;
    /* font-size: 16px; */
    /* font-weight: 600; */
  }

  .footerOne {
    flex-wrap: wrap;
  }

  .footerOne > div {
    margin: 1rem 0;
    line-height: 25px;
  }

  .contactForm {
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }
  .six {
    background: none;
    padding-bottom: 0;
  }
  form {
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
  }
  form > div {
    width: 100%;
  }
  .mobileMenuTranslate {
    transform: translateY(0rem);
  }

  footer h5 {
    font-size: 1.2rem;
  }

  footer {
    padding-bottom: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  .subFootTwo > div {
    display: none;
    background-color: aqua;
  }

  .subFootTwo {
    font-size: small;
    padding: 0.5rem;
    justify-content: center;
  }

  .footSocialsMobile {
    display: flex;
    align-items: center;
  }
  .footSocialsMobile a {
    background: none;
    color: white;
  }

  .contactIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: fixed;
    z-index: 5;
    bottom: 1rem;
    right: 0rem;
    list-style-type: none;
  }

  .contactIcons button,
  .contactIcons img {
    background: none;
    width: 6rem;
  }

  .phoneIcon a {
    background-color: #2a166d;
    border-radius: 45px;
    padding: 1rem;
    /* width: fit-content; */
    display: flex;
    align-items: center;
  }
  .phoneIcon img {
    width: 2rem;
  }

  #backToTop {
    left: 30px;
    right: inherit;
  }

  /* About.html mobile */


  .aboutOne{
    width: fit-content;
    height: 100%;
    padding: 0;
    margin: 0;
    /* display: none; */
  }
  .aboutOne img{
    margin: 0;
  }

  .aboutTwo {
    flex-direction: column;
    
  }
  .aboutTwo h1 {
    margin-bottom: 1rem;
  }

  .aboutThree {
    flex-direction: column;
    align-items: normal;
    gap: 4rem;
  }

  .aboutThree div {
    width: 100%;
  }

  .mission::before {
    margin-bottom: 0;
  }

  .aboutFour {
    width: 80%;
    padding-top: 2rem;
  }
  .aboutFour h5::before {
    transform: translate(-14rem, -3rem);
  }



  /* Destination.html */

  .destTwo img{
    width: 100%;
    padding: 0 7% 7%;
  }

  .destFive{
    padding: 7%;
  }
  .grey{
    display: block;
    padding: 10% 7% 0;

    border-radius: 10px;
  }
  .grey p{
    font-size: 20px;
    text-align: center;
  }

  /* Contact.html */

  .contactTwo{
    width: 100%;
    background-color: #2a166d;
    /* margin-top: 4.7rem; */
  }
  
  .contactTwo img{
    width: 100%;
    padding-bottom: 1rem;
  }

  .contactTwo div{
    background-color: #fff;
    padding: 5%;
  }

  .threeOne{
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .followUs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .followUs div{
    display: flex;
    gap: 0.5rem;
  }
  


  .contact-form{
    margin: 1rem 5%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .contactFour {
    padding:  0 5%;
  }



  


}
